/* Your CSS goes here */
input {
    background:yellow;
     }

button {
    background:yellow;
     }

/* yellow background color applied to input fields and submit button separately
Since custom submit button for screen readers was created without using input tag */

.applicantlastname {
    font-weight: bold;

      }

p {
    border-style: solid;
        }
